<!DOCTYPE html>
<html lang="en">
<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style>


<title>Title</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h3>You might like these games!</h3>



 <body>
  <div> <!-- /.container-->
    <div class="container">
      <div class="starter-template">
        <h3>Result:</h3>
        {% for i in range(0,5) %}
        <a href={{ games.iloc[i,1] }}><p align="center"><p align="center"> <font size="5" face="Verdana"> {{ games.iloc[i,0] }} </font></p>
        <img src="static/images/{{ games.iloc[i,2] }}" alt="{{ games.iloc[i,2] }}" width="200" height="200" >
        {% endfor %}
      </div>
    </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>


  </div><!-- /.container -->
 </body>
